# This is the "Material for MkDocs" theme. Installing this package will install
# compatible versions of all of its dependencies, including MkDocs, itself.
# Docs: https://squidfunk.github.io/mkdocs-material/getting-started/
mkdocs-material

# We use this plugin to redirect visitors from old URLs to new ones.
# Docs: https://github.com/mkdocs/mkdocs-redirects
mkdocs-redirects
