# JetBrains IDE files
/.idea

# Ignore all the `.venv` directories in the child directories of the current directory.
/*/.venv

# Ignore all `__pycache__` directories, at any level of the file tree.
__pycache__

# Ignore `.DS_Store` files, at any level of the file tree.
.DS_Store