/* Format embedded YouTube videos.
   Reference: https://yoast.com/how-to-make-youtube-videos-responsive/ */
.nmdc-embedded-youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-bottom: 2rem;
}
