/* Hide "On Read the Docs" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(3) {
    display: none;
}
/* Hide "On GitHub" section from versions menu */
div.rst-versions > div.rst-other-versions > div.injected > dl:nth-child(4) {
    display: none;
}

/* Customize text wrapping in table cells */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
}

/* Format embedded YouTube videos.
   Reference: https://yoast.com/how-to-make-youtube-videos-responsive/ */
.nmdc-embedded-youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin-bottom: 2rem;
}
