# This GitHub Actions workflow finds links in HTML files and creates a GitHub Issue if any of them doesn't work.
# Reference: https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions
name: Check links

on:
  # Allow this workflow to be called by other workflows.
  # Reference: https://docs.github.com/en/actions/using-workflows/reusing-workflows
  workflow_call: { }

jobs:
  check-links:
    name: Check links
    runs-on: ubuntu-latest
    permissions:
      issues: write # required for peter-evans/create-issue-from-file
    steps:
      - name: Get website file tree
        uses: actions/download-artifact@v4  # docs: https://github.com/actions/download-artifact
        with:
          name: github-pages
          path: _downloads
      - name: Un-tar the archive
        run: |
          pwd
          mkdir -p _build/html
          tar -xvf _downloads/artifact.tar -C _build/html
          ls -lR _build/html
      - name: Use Lychee to check for broken links
        # This step will populate `steps.lychee.outputs.exit_code` with the exit code returned by lychee.
        # Reference: https://github.com/lycheeverse/lychee-action
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          # Specify a Lychee version so the Lychee CLI options are always interpreted the same way,
          # even if the Lychee developers introduce breaking changes in a new Lychee version.
          # Note: v0.23.0 was released February 13, 2026, according to the GitHub repository:
          #       https://github.com/lycheeverse/lychee/releases/tag/lychee-v0.23.0
          lycheeVersion: 'v0.23.0'
          #
          # Notes:
          # - The `>` symbol tells the YAML parser to replace newlines with whitespace. This way, we don't
          #   have to terminate each line with a `\` character to escape the invisible newline character.
          # - The `--scheme` option tells Lychee which types of links to check. We use this to prevent
          #   Lychee from filling up the console with messages about `file://` and `data:` URLs.
          # - The `--format` option refers to the format of the report, not the documents being scanned.
          # - The `--exclude-loopback` option makes it so Lychee does not check "localhost" URLs.
          # - The `--exclude <PATTERN>` option can be used multiple times.
          #
          # Reference: https://github.com/lycheeverse/lychee#commandline-parameters
          #
          # Exclusion notes:
          # - We exclude Rancher URLs (i.e. `https://rancher2.spin.nersc.gov`) because GHA cannot access any of
          #   them besides the Rancher login page.
          # - We exclude the NMDC Instagram page's URL (i.e. `https://www.instagram.com/microbiomedata`) because,
          #   when we don't, our broken link report contains "HTTP 429 - Too Many Requests" errors for that URL.
          #
          args: >
            --root-dir "${{ github.workspace }}/_build/html"
            --scheme "http,https"
            --exclude-loopback
            --exclude '^https://rancher2.spin.nersc.gov'
            --exclude '^https://www.instagram.com/microbiomedata$'
            --verbose
            --no-progress
            --format markdown
            '_build/html/**/*.html'
          debug: true
          output: ./lychee/out.md
          fail: false
      - name: Create GitHub Issue listing broken links
        # This step will only run if both (a) lychee returned a non-zero exit code and (b) we are on the `main` branch.
        # Reference: https://docs.github.com/en/actions/learn-github-actions/variables#using-the-env-context-to-access-environment-variable-values
        if: steps.lychee.outputs.exit_code != 0 && github.ref == 'refs/heads/main'
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Website file tree contains broken links
          content-filepath: ./lychee/out.md
